extends header

head
    block title
        title Child Title

block content

    h1
        a(href= '/')= '返回'

    div.text
        p= '特性id'
        p= data.ability_id

    div.text
        p= '中文名称'
        p= data.china_name

    div.text
        p= '日文名称'
        p= data.japan_name

    div.text
        p= '英文名称'
        p= data.english_name

    div.text
        p= '第几代引入'
        p= data.generation

    div.text
        p= '游戏中描述'
        p= data.info

    div!= data.detail_info
