extends header

head
    block title
        title= data.china_name

block content

    h1
        a(href= '/')= '返回'

    div.Jump
        div.left
            if (data.move_id !== 1)
                a(href= `/move/child?id=${data.move_id - 1}`)= '上一个'
            else
                p= '这是第一条数据'
        div.right
            if (!lastFlag)
                a(href= `/move/child?id=${data.move_id + 1}`)= '下一个'
            else
                p= '这是最后一条数据'

    div.text
        p= '特性id'
        p= data.move_id

    div.text
        p= '中文名称'
        p= data.china_name

    div.text
        p= '日文名称'
        p= data.japan_name

    div.text
        p= '英文名称'
        p= data.english_name

    div.text
        p= '属性'
        case data.type
            when '0': p 一般
            when '1': p 格斗
            when '2': p 飞
            when '3': p 毒
            when '4': p 地面
            when '5': p 岩石
            when '6': p 虫
            when '7': p 幽灵
            when '8': p 钢
            when '9': p 火
            when '10': p 水
            when '11': p 草
            when '12': p 电
            when '13': p 超能力
            when '14': p 冰
            when '15': p 龙
            when '16': p 恶
            when '17': p 妖精
            default: p ???

    div.text
        p= '分类'
        case data.type
            when '0': p 物理
            when '1': p 特殊
            default: p 变化

    div.text
        p= '威力'
        p= data.power

    div.text
        p= '命中'
        p= data.accuracy

    div.text
        p= 'PP'
        p= data.power_point

    div.text
        p= '游戏中描述'
        p= data.info

    div.text
        p= '附加效果'
        div!= data.detail_info

    div.table!= data.detail